@model IEnumerable<CityRatingModel>
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<br />

<h1>Rating Cities</h1>

@foreach(var city in Model)
{
    <div>
        <br />
        <p>@city.Country  @city.Name  @city.SumFines</p>
    </div>
}
