@model SensorTypeModel
@{
    ViewData["Title"] = "AddSensorTypePage";
}

<h1>AddSensorTypePage</h1>

<form asp-action="AddSensorTypePage" method="post" enctype="multipart/form-data">


    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <label asp-for="Type" class="control-label name__input"></label>
    <div class="valid">
        <input asp-for="Type" class="form-control input__item" />
        <span asp-validation-for="Type" class="text-danger exit__errore field-validation-error"></span>
    </div>


    <label asp-for="ResType" class="control-label name__input"></label>
    <div class="valid">
        <input asp-for="ResType" class="form-control  input__item" />
        <span asp-validation-for="ResType" class="text-danger exit__errore field-validation-error"></span>
    </div>

    <label asp-for="NormalString" class="control-label name__input"></label>
    <div class="valid">
        <input asp-for="NormalString" class="form-control  input__item" />
        <span asp-validation-for="NormalString" class="text-danger exit__errore field-validation-error"></span>
    </div>

    <label asp-for="NormalBool" class="control-label name__input"></label>
    <div class="valid">
        <input asp-for="NormalBool" class="form-control  input__item" />
        <span asp-validation-for="NormalBool" class="text-danger exit__errore field-validation-error"></span>
    </div>

    <label asp-for="NormalInt" class="control-label name__input"></label>
    <div class="valid">
        <input asp-for="NormalInt" class="form-control  input__item" />
        <span asp-validation-for="NormalInt" class="text-danger exit__errore field-validation-error"></span>
    </div>

    <label asp-for="SizeFine" class="control-label name__input"></label>
    <div class="valid">
        <input asp-for="SizeFine" class="form-control  input__item" />
        <span asp-validation-for="SizeFine" class="text-danger exit__errore field-validation-error"></span>
    </div>


    <input type="submit" id="SaveBtn" value="SaveChange" class="nav__button" />

</form>

<a href='@Url.Action("ViewAllSensorType","Admin")' class="back__list">Back to List</a>