@model RegisterUserModel
@{
    ViewData["Title"] = "Index";
}

<h1>Regestration</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patronymic" class="control-label"></label>
                <input asp-for="Patronymic" class="form-control" />
                <span asp-validation-for="Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Passport" class="control-label"></label>
                <input asp-for="Passport" class="form-control" />
                <span asp-validation-for="Passport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxIdentity" class="control-label"></label>
                <input asp-for="TaxIdentity" class="form-control" />
                <span asp-validation-for="TaxIdentity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label name__input">Категория: </label>
                <div class="valid">
                    <select asp-for="City" class="form-control input__item" asp-items="@new SelectList(Model.Cities)"></select>
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </form>


    </div>
</div>

<div>
    <a href="@Url.Action("Login","Account")">Есть аккаунт? - вход</a>
</div>
