@model RegisterUserModel
@{
    ViewData["Title"] = "Index";
}

<h1>Regestration</h1>
<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">@Localizer["Register"]</div>
                    <div class="card-body">
                        <form asp-action="Index">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group row">
                                <label asp-for="Surname" class="col-md-4 col-form-label text-md-right"></label>
                                <div class="col-md-6">
                                    <input asp-for="Surname" class="form-control" />
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Name" class="col-md-4 col-form-label text-md-right"></label>
                                <div class="col-md-6">
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Passport" class="col-md-4 col-form-label text-md-right"></label>
                                <div class="col-md-6">
                                    <input asp-for="Passport" class="form-control" />
                                    <span asp-validation-for="Passport" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="TaxIdentity" class="col-md-4 col-form-label text-md-right"></label>
                                <div class="col-md-6">
                                    <input asp-for="TaxIdentity" class="form-control" />
                                    <span asp-validation-for="TaxIdentity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="City" class="col-md-4 col-form-label text-md-right"></label>
                                <div class="col-md-6">
                                    <select asp-for="City" class="form-control input__item" asp-items="@new SelectList(Model.Cities)"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Email" class="col-md-4 col-form-label text-md-right"></label>
                                <div class="col-md-6">
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Password" class="col-md-4 col-form-label text-md-right"></label>
                                <div class="col-md-6">
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="ConfirmPassword" class="col-md-4 col-form-label text-md-right"></label>
                                <div class="col-md-6">
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Register
                                </button>
                                <a href="@Url.Action("Login","Account")" class="btn btn-link">
                                    @Localizer["Have an account? - entrance"]
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
