@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">@Localizer["Login"]</div>
                    <div class="card-body">
                        <form asp-action="Login">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <span asp-validation-for="General" class="text-danger"></span>
                            <div class="form-group row" >
                                <label asp-for="Passport" class="col-md-4 col-form-label text-md-right"></label>
                                <div class="col-md-6">
                                    <input asp-for="Passport" class="form-control" />
                                    <span asp-validation-for="Passport" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Password" class="col-md-4 col-form-label text-md-right"></label>
                                <div class="col-md-6">
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>
                                <a href="@Url.Action("Index","Account")" class="btn btn-link">
                                    @Localizer["Don't have an account yet?"]
                                </a>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>


